body {
  font-family: system-ui;
  scroll-behavior: smooth;
}

.hero {
  padding: 150px 0;
  background: linear-gradient(135deg, #0d6efd, #6610f2);
  color: white;
}

.name {
  color: #ffd43b;
}

.social a {
  font-size: 24px;
  margin-right: 15px;
  color: white;
}

.social a:hover {
  transform: scale(1.2);
}

/* FOTO */

.photo-wrapper {
  position: relative;
  width: 300px;
  margin: auto;
}

.profile {
  width: 100%;
  z-index: 2;
  position: relative;
}

.blob {
  position: absolute;
  width: 320px;
  height: 320px;
  background: white;
  border-radius: 60% 40% 50% 50%;
  top: -10px;
  left: -10px;
  animation: blob 8s infinite ease-in-out;
}

@keyframes blob {
  0% {
    border-radius: 60% 40% 50% 50%;
  }
  50% {
    border-radius: 40% 60% 60% 40%;
  }
  100% {
    border-radius: 60% 40% 50% 50%;
  }
}

/* SKILL BAR */

.skill p {
  margin: 10px 0 5px;
}

.bar {
  background: #ddd;
  height: 8px;
  border-radius: 10px;
}

.progress {
  height: 8px;
  border-radius: 10px;
  background: #0d6efd;
}

.python {
  width: 90%;
}
.js {
  width: 80%;
}
.web {
  width: 85%;
}
.cyber {
  width: 70%;
}

/* PROJECT */

.project {
  transition: 0.3s;
}

.project:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

footer {
  padding: 20px;
  text-align: center;
  background: #111;
  color: white;
}
